<div class="section2">
  <div id="stylingDivAbout"></div>
  <div id="contentDiv">
    <div id="imageDiv"><img src="../../assets/images/portfolioImage.png"></div>
    <p>Developer who enjoys creating user-friendly and inspiring web experiences. As an avid traveler, 
      and Spanish speaker who has lived and worked abroad, I am passionate about the way technology connects the world.
      I am a constant learner who enjoys problem-solving and examining processes and procedures to consistently find ways 
      to improve. I have experience working with multiple technologies including HTML, CSS, Javascript, and jQuery, mySQL, nodejs, React, and Angular.</p>
  </div>
  <div class="downArrow"><mat-icon id="section2DownArrow" (click)="scrollToAbout('section3')">keyboard_arrow_down</mat-icon></div>
</div>