#menuButton {
    font-size: 30px; 
    color: white;
    cursor: pointer;
    z-index: 101;
    padding: 10px;
    font-size: 32px;
}

#menuButton:hover {
    color: crimson;
    transition: 1s;
}

#fullMenu.hidden {
    width: 0px;
    left: -400px;
}

#fullMenu {
    height: calc(100vh - 60px);
    background: rgb(28,28,28);
    position: absolute;
    transition: 1s;
    width: 99%;
    z-index: 100;
}

#menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    margin-top: 200px;
}

#menuOptions h2 {
    color: white;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 94px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#menuOptions h2:hover {
    color: rgb(220, 20, 60);
    transition: 1s;
}

.inlineDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrowIcon {
    font-size: 54px;
    margin-bottom: 35px;
    margin-right: 70px;
    color: rgb(220, 20, 60, .9);
    position: relative;
    top: 25%;
}

.arrowIcon:hover {
    color: white;
    transition: 1s;
}