<mat-icon id="menuButton" (click)="openFullMenu()">menu</mat-icon>

<div id="fullMenu" class="hidden">
    <mat-icon id="closeButton" (click)="openFullMenu()">close</mat-icon>
    <div id="menuOptions">
        <div class="inlineDiv"><mat-icon class="arrowIcon" id="aboutIcon">arrow_forward_ios</mat-icon><h2>About</h2></div>
        <div class="inlineDiv"><mat-icon class="arrowIcon" id="projectsIcon">arrow_forward_ios</mat-icon><h2>Projects</h2></div>
        <div class="inlineDiv"><mat-icon class="arrowIcon" id="contactIcon">arrow_forward_ios</mat-icon><h2>Contact</h2></div>
    </div>
</div>