.section3 {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(72, 72, 72);
    position: relative;
    z-index: 101;
}

.section3 h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-bottom: 40px;
    display: none;
}

#projectLinks {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.workCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 100;
}

.workCard h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.workCard h2 i {
    padding-left: 20px;
}

#helpingHandsDesc {
    position: absolute;
    width: 280px;
    text-align: center;
    color: white;
    font-size: 20px;
    background: rgb(28, 28, 28);
    padding: 10px;
    opacity: .8;
}

#helpingHandsDesc.hidden {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .workCard h2 {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        display: flex;
        align-items: center;
    }

}

@media only screen and (max-width: 1500px) {
    .section3 {
        height: auto;
    }
}