<div class="section4">
  <div id="section4Content">
  <h1>Connect With Me</h1>
    <form action="mailto:charlotte.e.asencio@gmail.com" method="POST" enctype="text/plain">
        <div class="inputRow">
          <label for="name-input">Name</label>
          <input class="form-control" id="name-input" type="text" name="Name: ">
        </div>
        <div class="inputRow">
          <label for="email-input">Email</label>
          <input class="form-control" id="email-input" type="email" name="Reply To: ">
        </div>
        <div class="inputRow">
          <label for="comment-input">Message</label>
          <textarea class="form-control" id="comment-input" rows="5" name="Message: "></textarea>
        </div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
      <div id="centerLinks">
        <a href="https://github.com/charlotteasencio" target="_blank"><i class="fa fa-github" style="color: white; font-size: 50px;" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/charlotte-asencio-7b84b164" target="_blank"><i class="fa fa-linkedin-square" style="color: rgb(0, 119, 181); font-size: 50px;" aria-hidden="true"></i></a>
        <a href="mailto:charlotte.e.asencio@gmail.com"><mat-icon id="emailIcon">email</mat-icon></a>
        <a href="assets/resume.pdf" id="resumeDiv"><i class="fa fa-file" style="color: rgb(117,175,168); font-size: 40px;" aria-hidden="true"></i><p>Resume</p></a>
      </div>
    </div>
  <div class="downArrow"><mat-icon id="section4UpArrow" (click)="scrollToAbout('section1')">keyboard_arrow_up</mat-icon></div>
</div>
