#section1 {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(28, 28, 28);
}

#headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(28, 28, 28);
}

#headerDiv img {
    background: transparent;
}

#headerDiv h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}