<div class="section1">
  <!--<img id="portfolioImage" src="../../assets/images/portfolioImage.png">-->
  <div id="stylingDiv">
    <h2>Hi! I'm</h2>
    <h1>Charlotte Asencio</h1>
    <p>A developer currently residing in Winston-Salem, NC. I am a lover of coffee, reading, travel, and CSS. With a background in Social Work, 
          I am passionate about the way technology can be used to connect and improve the world.
          While I mostly work with HTML, CSS, and JavaScript, I also have experience working with other technologies and frameworks including jQuery, Node.js, React.js, and Angular.</p>
  </div>
<!--<div class="downArrow"><mat-icon id="section1DownArrow" (click)="scrollToAbout('section3')">keyboard_arrow_down</mat-icon></div>-->
<div id="imagesDiv">
  <img id="mountains1" appParallax [ratio]="0.9" src="../../assets/images/mountains1.png">
  <img id="mountains2" appParallax [ratio]="0.4" src="../../assets/images/mountains2.png">
  <img id="mountains3" appParallax [ratio]="0.2" src="../../assets/images/mountains3.png">
  <img id="mountains4" appParallax [ratio]="0.7" src="../../assets/images/mountains4.png">
</div>
<!--<canvas #myCanvas></canvas>-->
</div>