#section1 {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(28, 28, 28);
}

#headerDiv {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    align-items: center;
    background: rgb(28, 28, 28);
}

#headerDiv h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 86px;
    margin-bottom: 40px;
    color: crimson;
}

#headerDiv h1:hover {
    color: gray;
    transition: 2s;
    cursor: default;
}

#headerDiv h2 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    cursor: default;
}

#headerDiv h2:hover {
    color: crimson;
    transition: 2s;
}

#section1DownArrow {
    font-size: 44px;
    margin-top: 400px;
}

#section1DownArrow:hover {
    color: grey;
}